/* All the great styles! */
footer {
    background-color: lightblue;
}
#musiLogo {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "futura", sans-serif;
}

#musiLogo:hover {
    text-decoration: none;
}

#spotifyWidget {
    float: right;
}

#musicText {
    font-family: "futura", sans-serif;
}

#musicPara {
    width: 85%;
}

#thanksHead {
    text-align: justify;
    font-weight: bold;
}

.mainNavElem {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.imgText {
    text-align: center;
}

.thanks {
    font-family: "futura", sans-serif;
}

.faq {
    font-family: "futura", sans-serif;
}

section {
    display: inline;
    font-family: "Futura";
    text-align: center;
}

.homeThumb {
    display: inline-block;
}

/*NEW CSS CODE*/

h2.plus {
    background: url(images/plus.png) no-repeat left center;
    background-position: 5%;
}
h2.minus {
    background: url(images/minus.png) no-repeat left center;
   background-position: 5%;
}
div.closed {display: none;}
div.open {display: block;}
#faq {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}


li {
    list-style: none;
    list-style-image: url("img/home/music.jpg");
}
