/* All the great styles! */
footer {
    background-color: lightblue;
}
#musiLogo {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "futura", sans-serif;
}

#musiLogo:hover {
    text-decoration: none;
}

#spotifyWidget {
    float: right;
}

#musicText {
    font-family: "futura", sans-serif;
}

#musicPara {
    width: 85%;
}

#thanksHead {
    text-align: justify;
    font-weight: bold;
}

.mainNavElem {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.imgText {
    text-align: center;
}

.thanks {
    font-family: "futura", sans-serif;
}

.faq {
    font-family: "futura", sans-serif;
}

section {
    display: block;
    font-family: "Futura";
    text-align: center;
}

li {
    list-style: none;
    list-style-image: url("img/home/music.jpg");
}